<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @staff.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @staff.lastName %>
</p>

<p>
  <strong>Position:</strong>
  <%= @staff.position %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
