<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@finance.price) %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @finance.interest %>
</p>

<p>
  <strong>Year plan:</strong>
  <%= @finance.year_plan %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
