<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @quote.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @quote.lastname %>
</p>

<p>
  <strong>Number:</strong>
  <%= number_to_phone(@quote.number)%>
</p>

<p>
  <strong>Date:</strong>
  <%= @quote.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@quote.price) %>
</p>

<p>
  <strong>Vin_ID:</strong>
  <%= @quote.vin %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quote.status%>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
