<%= form_for(@dealership) do |f| %>
  <% if @dealership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dealership.errors.count, "error") %> prohibited this dealership from being saved:</h2>

      <ul>
      <% @dealership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :salestaxtotals %><br>
    <%= f.number_field :salestaxtotals %>
  </div>
  <div class="field">
    <%= f.label :netprofit %><br>
    <%= f.number_field :netprofit %>
  </div>
  <div class="field">
    <%= f.label :salestaxprofit %><br>
    <%= f.number_field :salestaxprofit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
