<p id="notice"><%= notice %></p>

<h1>Dealership Report</h1>

<table>
  <thead>
    <tr>
      <th>Sales tax totals--</th>
      <th>Net profit--</th>
      <th>Sales tax profit--</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dealerships.each do |dealership| %>
      <tr>
        <td><%= number_to_currency(dealership.salestaxtotals) %></td>
        <td><%= number_to_currency(dealership.netprofit) %></td>
        <td><%= number_to_currency(dealership.salestaxprofit) %></td>
        <td><%= link_to 'Show', dealership %></td>
        <td><%= link_to 'Edit', edit_dealership_path(dealership) %></td>
        <td><%= link_to 'Destroy', dealership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<th><b>Total Revenue: </b></th>
 <td>
 $765,435.00
</td>


<br>

<th><b>Gross Profit: </b></th>
 <td>
  $165,435.00
</td>

<br>

<th><b>Total Sales Tax: </b></th>
 <td>
  $65,435.00
</td>

<br>

<%= link_to 'New Dealership', new_dealership_path %>
